@font-face {
    font-family: Inter;
    src: url(../src/assets/fonts/Inter_18pt-Regular.ttf);
}
@import "tailwindcss";

@theme{
    --font-Inter: Inter;
    --color-main: #4CAF4F;
    --color-second: #F5F7FA;
    --color-title: #4D4D4D;
    --color-text: #717171;
    --color-footerbg: #263238;
    --color-footertext: #F5F7FA;
}
.container{
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
}h1,h2,h3,h4,p,a,span,input,button,textarea,select{
    font-family: Inter;
}
.top{
    width: 40px;
    height: 40px;
    background: green;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .3s;
    box-shadow: #000 0px 0px 10px;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}
.top.hidden{
    bottom: -60px;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: .3s ease;
}
header.shrink{
    box-shadow: 0 5px 5px #0001;
}
header.shrink .navbar{
    height: 90px;
}